@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.illustration-bg {
  background: url("/illustration.png");
  background-size: cover;
}

.website-bg {
  background: url("/websites.jpg");
  background-size: cover;
}

.apps-bg {
  background: url("/apps.jpg");
  background-size: cover;
}
/* Animations */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.hero-image__animation {
  animation : moveHero 3s infinite ease alternate;
}

@keyframes moveHero {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.contact-image__animation {
  animation : move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.0);
  }
}
